body {
  display: flex;
  text-align: center;
  font-size: 1.5em;
  align-items: center;
  flex-direction: column;
}

.entry {
  margin: 20px 10px;
  width: 85%;
  background-color: #acacac;
  font-family: sans;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  border: 20px solid #acacac;
    border-radius: 10px;
}

.header {

  flex: 1 1 auto;
  margin: 5px;
    width: 20%;
  background-color: #acacac;
  font-family: sans;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  border: 20px solid #acacac;
    border-radius: 10px;
}

#info {

  width: 80%;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  font-family: serif;

}

.info {
  margin: 15px;
}

.content {
  
  text-align: left;
  color: #000000;
  margin: 10px  auto;
  background-color: #ffffff;
  font-family: serif;
  padding: 20px;
}

.hidden {
  display: none;
}

h1 {
  display: inline-block;
}

code {
  display: inline-block;
  color: #b3b3b3;
  background-color: #fafafa;
  text-align: left;
}

pre {
  padding: 5px 15px;
  margin: 5px 40px;
}

li {
  list-style-type: none;
}

span {
  font-size: 1.2em;
}

#navbar {
  display: flex;
  flex-direction: row;
  
}
